.about-container {
	margin: 2em;
	.aboutImg, .aboutBlurb {
	    float: left;
	    margin: 0;
  	}
	.aboutImg {
		overflow: hidden;
	 	img {
  			margin: auto; 
  			margin-left: -9em;
  			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  			filter: grayscale(100%);
		}
		
	}
	.aboutBlurb {
		background: $lightBG;
		margin: 0;
		p {
			padding: 0 2em;
		}
	}
}		