@media only screen and (max-width : 1200px) {
   
}

 @media only screen and (max-width : 1200px) {
    }


@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 950px) {
 	.project-inner {
 		.project-main-image {
 			width: 100%;
 		}
 		.content-inner {
 			width: 100%;
 		}
 	}  
}


@media only screen and (max-width : 920px) {
 
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   
   
}

@media only screen and (max-width : 700px) {
     
}


 @media only screen and (max-width : 600px) {
    
}

@media only screen and (max-width : 590px) {
	.portfolio-gallery .gallery{
		margin: 0;
	}
}

@media only screen and (max-width : 570px) {

}

@media only screen and (max-width : 550px) {
	.project-inner{
		margin: 0;
	}
	
}

@media only screen and (max-width : 515px) {
  
}

@media only screen and (max-width : 480px) {
    
}



@media only screen and (max-width : 320px) {
   
}